.container {
  position: relative;
  margin-bottom: 32px;
}

.input {
  width: 100%;
  min-height: 28px;
  border: 0;
  border-bottom: 1px solid var(--active-color);
  border-radius: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  color: var(--default-color);
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 13px;
}

.label {
  position: absolute;
  top: 6px;
  left: 0;
  color: var(--second-color);
  font-size: 13px;
  transition: all 0.3s ease;
  pointer-events: none;
}

.input:focus + .label,
.input:not(:placeholder-shown).input:not(:focus) + .label {
  top: -9px;
  font-size: 9px;
}

.errorLabel {
  display: none;
  color: red;
  position: absolute;
  top: calc(100% + 1px);
  left: 0;
  font-size: 10px;
  line-height: 10px;
}

[data-valid] ~ [data-error] {
  display: block;
}

.input.invalid + .label + .error {
  display: block;
}
