.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.modalActive {
  display: flex;
}

.modalContent {
  position: relative;
  background-color: #fff;
  margin: 15% auto;
  padding: 30px;
  box-sizing: border-box;
  border: 1px solid #888;
  border-radius: 12px;
  width: clamp(250px, 340px, 100%);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modalTitle {
  font: 500 15px/20px Inter, sans-serif;
  color: var(--default-color);
  text-align: center;
  margin: 0 0 20px;
}

.close {
  position: absolute;
  right: 10px;
  top: 5px;
  color: #aaa;
  float: right;
  font-size: 28px;
  transition: color .3s;
  line-height: 28px;
}

.close::after {
  content: '';
  position: absolute;
  top: 60%;
  left: 50%;
  width: 0;
  height: 0;
  border: 2px solid transparent;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: width .3s ease-in-out, height .3s ease-in-out, border-color .3s ease-in-out;
}

.close:hover::after {
  width: 23px;
  height: 23px;
  border-color: var(--default-color);
  animation: draw-circle .3s ease forwards;
}

@keyframes draw-circle {
  0% {
    border-color: transparent;
  }
  100% {
    border-color: var(--active-color);
  }
}

.close:hover {
  color: var(--active-color);
  cursor: pointer;
}
