.messenger {
  max-width: 1280px;
  min-height: 720px;
  width: 100%;
  display: flex;
  gap: 20px;
}

.sidebar {
  width: 310px;
  box-sizing: border-box;
  padding: 21px 0 0;
  overflow: hidden;
  background-color: #FBFBFB;
}

.profileBar {
  display: flex;
  justify-content: right;
  padding: 0 10px;
  margin-bottom: 23px
}

.profileLink {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--second-color);
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
}

.profileLink:hover {
  color: var(--second-color);
}

.profileLink::after {
  content: '';
  display: inline-block;
  width: 7px;
  height: 10px;
  background-image: url('/public/rarr.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.search {
  margin-bottom: 14px;
  padding: 0 10px;
  position: relative;
}

.searchInput {
  width: 100%;
  height: 32px;
  box-sizing: border-box;
  background-color: var(--second-bg-color);
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 10px 0 44%;
  color: #1e1e1e;
  font: 500 12px/12px Inter, sans-serif;
  transition: all 0.3s;
}

.searchInput::placeholder {
  color: #999;
  font: 500 12px/12px Inter, sans-serif;
}

.searchInput:focus,
.searchInput:not(:placeholder-shown) {
  text-align: left;
  padding-left: 34px;
}

.searchLabel {
  position: absolute;
  top: 0;
  left: 10px;
  right: 10px;
  display: flex;
  gap: 4px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  padding: 2px 10px 0 36%;
  color: #999;
  font: 500 12px/12px Inter, sans-serif;
  transition: all 0.3s;
}

.searchPlaceholder {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  overflow: hidden;
}

.searchLabel::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('/public/search.svg');
}

.searchInput:focus + .searchLabel,
.searchInput:not(:placeholder-shown) + .searchLabel {
  padding-left: 10px;
}

.searchInput:focus + .searchLabel .searchPlaceholder,
.searchInput:not(:placeholder-shown) + .searchLabel .searchPlaceholder {
  display: none;
}

.contactList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 617px;
  overflow: auto;
}

/* main section */

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.main:empty {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: var(--second-color);
}

.main:empty::before {
  display: inline;
  content: 'Select a chat to start messaging';
}

.header {
  display: grid;
  column-gap: 10px;
  grid-template-columns: 34px 1fr 25px;
  align-items: center;
  padding: 10px 0;
  box-sizing: border-box;
  border-bottom: 1px solid var(--second-bg-color);
}

.headerAvatar {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: var(--second-bg-color);
}

.headerName {
  font: 600 13px/13px Inter, sans-serif;
  color: #1e1e1e;
}

.headerMenuButton {
  width: 25px;
  height: 25px;
  cursor: pointer;
  background-image: url('/public/dots.svg');
  background-repeat: no-repeat;
  background-size: 4px 16px;
  background-position: center;
}

.chat {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
  overflow: auto;
  max-height: 610px;
}

.chatDate {
  display: block;
  text-align: center;
  margin: 30px 0;
  font: 500 12px/12px Inter, sans-serif;
  color: var(--second-color);
}

.chatMessage {
  max-width: 380px;
  position: relative;
  box-sizing: border-box;
  padding: 11px 11px 22px;
  font: 500 12px/15px Inter, sans-serif;
  color: #1e1e1e;
  background-color: #f8f8f8;
  border-radius: 12px 12px 12px 0;
}

.chatMessage[data-type="outgoing"] {
  margin-left: auto;
  background-color: #E4EDFD;
  border-radius: 12px 12px 0;
}

.chatMessageText > p:first-child {
  margin-top: 0;
}

.chatMessageText > p:last-child {
  margin-bottom: 0;
}

.chatMessageTime {
  position: absolute;
  bottom: 11px;
  right: 11px;
  font: 500 9px/9px Inter, sans-serif;
  color: var(--second-color);
  shape-outside: inset(100px 100px 100px 100px);
  float: right;
}

.chatMessage[data-type="outgoing"] .chatMessageTime {
  color: var(--active-color);
}

.chatMessage[data-type="outgoing"] .chatMessageTime::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 5px;
  background-image: url('/public/status.svg');
  margin-right: 4px;
}

.chatImage {
  max-width: 316px;
  position: relative;
}

.chatImageItem {
  display: block;
  width: 100%;
  border-radius: 12px;
}

.chatImageTime {
  position: absolute;
  bottom: 11px;
  right: 11px;
  font: 500 9px/9px Inter, sans-serif;
  background-color: rgb(82 82 82 / 50%);
  padding: 2px 7px;
  border-radius: 30px;
  color: #fff;
}

.messageInputWrap {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px 0;
  box-sizing: border-box;
  border-top: 1px solid var(--second-bg-color);
}

.attach {
  width: 32px;
}

.attachInput {
  display: none;
}

.attachButton {
  width: 32px;
  height: 32px;
  display: inline-block;
  cursor: pointer;
  background-image: url('/public/attach.svg');
  background-repeat: no-repeat;
  background-size: 29px;
  background-position: center;
}

.messageInput {
  display: flex;
  flex-grow: 1;
  height: 32px;
  box-sizing: border-box;
  background-color: var(--second-bg-color);
  outline: none;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  color: #1e1e1e;
  font: 500 12px/12px Inter, sans-serif;
  transition: all 0.3s;
  resize: none;
}

.messageInput::placeholder {
  color: #999;
  font: 500 12px/12px Inter, sans-serif;
}

.messageSubmitButton {
  width: 28px;
  height: 28px;
  cursor: pointer;
  background-image: url('/public/send.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  outline: none;
  border: none;
  background-color: transparent;
}
