:root {
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --default-color: #1e1e1e;
  --second-color: #999;
  --active-color: #3369F3;
  --danger-color: #F00;
  --hover-color: #535bf2;
  --button-color: #fff;
  --default-bg-color: #fff;
  --second-bg-color: #EFEFEF;
  --active-bg-color: #E4EDFD;
}

body {
  margin: 0;
  background-color: var(--default-bg-color);
  color: var(--default-color);
}

.content,
.content > div:not([class]) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

a {
  color: var(--default-color);
}

a:hover {
  color: var(--hover-color);
}

.light-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 20%) transparent;
}

.light-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.light-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 20%);
  border-radius: 10px;
}

.light-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.hidden {
  display: none !important;
}

.loading {
  overflow: hidden;
}

.spinner-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 1000;
  display: none;
  justify-content: center;
  align-items: center;
}

.loading .spinner-wrap {
  display: flex;
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
